:root {
  --box-size: 5px;
}

div {
  margin: 0;
  padding: 0;
  border-width: 0;
}

#container {
  overflow-x: scroll;
  margin: 2em 1em;
  display: inline-block;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: var(--box-size);
  min-width: var(--box-size);
  height: var(--box-size);
  min-height: var(--box-size);
  display: inline-block;
}

.box--prime {
  background-color: black;
}

.box--no-prime {
  background-color: red;
}

.relative-color .box {
  background-color: currentColor;
}

.relative-color .box.box--no-prime {
  background-color: transparent;
}

#popup {
  background-color: #ccccccdd;
  border-radius: 10px;
  position: absolute;
  padding: 4px;
  font-size: smaller;
  height: 50px;
  overflow-y: scroll;
}

#popup ul {
  padding: 0;
  margin: 0;
  font-size: smaller;
  list-style: none;
}

.description {
  width: 80%;
  margin: 0 auto;
}

.exampleBox {
  padding: 4px;
  margin: 4px;
  background-color: #ccc;
  display: inline-block;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

